.joke-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 24px;
  width: 100%;
}

.joke-container-button {
  background-color: #fb8631;
  font-family: 'Wellfleet', cursive;
  font-size: 20px;
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  color: #ffffff;
  border: 0px solid transparent;
  border-color: #ffffff;
  cursor: pointer;
  margin: 0;
}

.joke-container-button:hover,
.joke-container-button:focus {
  background-color: #fb8631;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.joke-container-button:hover {
  transform: translateY(-1px);
}

.joke-container-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
